body {
    background-color: #dbdbdb;
}

.menubar__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #cf7500;
    border-radius: 10px;
}
